<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="copyright" content="Kushagra Varshney">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!-- Google Analytics -->

    <style type="text/css">
    </style>
    <title>Calculate Your Tax</title>
</head>
<body>
<div id="root"><%-content%></div>


<script type="text/javascript">
    function lazyLoadJs(e,a,r){
        let s, t, c = [], d = e.scripts[0];
        for(; s=r.shift();)t=e.createElement(a),"async"in d?(t.async=!1,e.head.appendChild(t)):d.readyState?(c.push(t),t.onreadystatechange=n):e.write("<"+a+' src="'+s+'" defer></'+a+">"),t.src=s}

    const main = 'public/js/main.js';
    const vendorMain = 'public/js/vendors.js';

    const addLazyLoadClass = function () {
        const isExist = document.querySelector('body.lazyLoad');
        if (isExist == null) {
            document.querySelector('body').classList.add('lazyLoad');
        }
    };

    function insertHeadSection(file) {
        const scrp = document.createElement('link');
        scrp.rel = 'preload';
        scrp.as = 'script';
        scrp.href = file;
        document.head.appendChild(scrp);
    }
    insertHeadSection(main);
    insertHeadSection(vendorMain);
</script>
<% for(var i=0; i < scripts.length; i++) { %>
<link rel="preload" href="<%-scripts[i]%>" as="script">
<% } %>
<script type="text/javascript">
    lazyLoadJs(document, "script", <%-JSON.stringify(scripts)%>);
    lazyLoadJs(document,"script",[main, vendorMain]);
</script>
</body>
</html>
